.Form_container {
    display: block;
    .Filter_container {
        margin: 20px;
        label {
            margin: 20px;
        }
        p {
            width: 300px;
            background-color: red;
        }
    }
}