.Form_container {
    display: block;
    .Filter_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        label {
            margin: 0px 10px;
        }
    }
    button {
        margin: 10px 0px 40px 25px;
        background-color: rgb(148, 50, 191);;
        color: white;
        border: 0;
        padding: 6px 14px;
        border-radius: 8%;
    }
}

.Filter_notFound {
    font-style: italic;
    color: rgb(148, 50, 191);
    padding-left: 10px;
    span {
        font-style: normal;
    }
}

