.PageNotFound_container {
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    h2 {
        color: rgb(148, 50, 191);;
        font-size: 100px;
        font-weight: bold;
    }
    h3 {
        font-size: 60px;
    }
    a {
        text-decoration: none;
        // margin: 10px 0px 40px 25px;
        background-color: rgb(148, 50, 191);;
        color: white;
        padding: 6px 14px;
        border: 5px;
        border-radius: 8px;
    }
}